[2018-08-20 09:04] gaganshrm23 opened #56 "Player Playing issue"
Audio doesn't play sometime. It hang up between **Loading — Loaded — Buffering - Waiting For Network - Loading — Loaded — Buffering — Waiting For Network - Loading...** . Sometime audio played but takes too much time.

Logs :

02:31:15076 [🔈][PlayerContext.swift]:85 :: Loading
2018-08-20 14:31:15.092040+0530 AudecibelPodcast[3935:1169149] CredStore - performQuery - Error copying matching creds.  E

[2018-08-20 09:08] raphrel commented on #56
Do you have your own `PlayerConfiguration` implementation ? or use the default `ModernAVPlayerConfiguration`

[2018-08-20 09:57] gaganshrm23 commented on #56
I am using the default ModernAVPlayerConfiguration.

[2018-08-20 11:30] raphrel commented on #56
so , first I see a image path problem.
- localPlaceHolderImageName: the image is fetch from a bundle
- remoteImageUrl: the image will be download from a remote server
be sure any of the path are good. you can also remove from now the metadata to be sure it doesn't affect any audio problem

I probably have to change the way we inject image in metadata. (Swift Data type should be better)
-----
Also,

[2018-08-20 11:36] gaganshrm23 commented on #56
I have never face image loading problem. The main issue is playing audio, I also noticed .mp4 format is not playing or it is taking too much time. Some Audio never played. Please check it once.

[2018-08-20 11:59] raphrel commented on #56
ho sorry, I didn't see the links above.

I saw same problem here, so I will check as soon as possible what's wrong.

[2018-08-20 12:02] gaganshrm23 commented on #56
No Audio Duration for this URL : http://feedproxy.google.com/~r/PANPU_VOH/~5/5uNR2mVwTk4/PANPU_VOHX_20180819_1.mp3?#

[2018-08-28 11:53] raphrel commented on #56
About the audio duration:

I tried with a simple AVPlayer project. use one asset with url mentionned: https://us1.hostedftp.com/~AWR-Ops/Podcasts/Audio/asia/PANPU/VOH/PANPU_VOHX_20180819_1.mp3

from the remote server:
duration KVO information is NAN. duration from AVPlayerItem / AVAsset is NAN too when item is readyToPlay.

I downloaded the file and import in the project:
no issue, duration is set

[2018-09-01 22:34] ArbabR opened #64 "How to repeat track on loop?"
Hi

How can we apply loop on a track to repeat?

Thanks

[2018-09-02 08:08] ArbabR commented on #64
Hi @raphrel

Thanks for checking this out. Any rough idea when this will be done?

[2018-09-02 10:30] raphrel commented on #64
Hi @ArbabR,

thanks for your suggestion, I'm gonna try a version this week.

[2018-09-02 14:32] ArbabR commented on #64
Ok awesome! thanks

[2018-09-03 20:01] raphrel commented on #64
a feature is coming: https://github.com/noreasonprojects/ModernAVPlayer/pull/68

[2018-09-04 04:09] ArbabR commented on #64
This is awesome! thanks a lot 👍

[2018-09-06 11:53] raphrel commented on #64
version 0.13.0 include loop mode 👌
https://github.com/noreasonprojects/ModernAVPlayer/tree/0.13.0

[2018-09-06 11:53] #64 closed

[2018-09-06 12:12] ArbabR commented on #64
Thanks much appreciated 👍

[2018-09-28 19:18] ArbabR opened #74 "Xcode 10 Swift 4.2"
Hi,

After updating the pods ModernAVPlayerMedia is taking assetOptions dictionary in the constructor.

let media = ModernAVPlayerMedia(assetOptions: nil, url: liveUrl, type: .stream, isLive: true, metadata: nil)

Can you share what is assetOptions and how we can use it?

Thanks

[2018-09-29 21:58] raphrel commented on #74
Hi,

As I mentioned in the readme, the library is not compatible yet for swift 4.2
If you need more information, ask me.

Raphaël

[2018-10-07 17:58] ArbabR commented on #74
Hi @raphrel

Thanks for reply. Got it.

[2018-10-07 18:04] ArbabR opened #78 "Convert time to hours:minutes:seconds"
Can we please convert current time and end duration time to this format

hours:minutes:seconds

01:25:42

![Uploading Simulator Screen Shot - iPhone 8 Plus - 2018-10-07 at 23.01.09.png…]()

[2018-10-07 19:45] raphrel commented on #78
Hi,

This is more a UI request, everyone need a different string format.
So I may not include this request in the library.

Anyway, you can simply use `DateComponentsFormatter`: https://stackoverflow.com/a/43890305/5144603

[2018-10-07 19:50] ArbabR commented on #78
Hi

Sure I'll look into it. Thanks for the help.

[2018-10-07 19:50] #78 closed

[2019-01-01 05:12] satishVekariya opened #93 "Please add support for caching"

[2019-01-02 08:20] raphrel commented on #93
Can you be more specific about your expectations ?

[2019-01-03 05:00] satishVekariya commented on #93
Local disk caching,
user only needs to stream a file once and after that it can be played from a local cache

[2019-01-03 17:07] raphrel commented on #93
sure, it's a big feature to implement.
I'm gonna think about it.

[2019-01-16 14:17] lisbejuin opened #98 "Compilation 1.1.2 fail"
Hello !
I update ModernAVPlayer to version 1.1.2, the project in iOS 10.0 minimum version and Swift 4.2 and I have some errors :
![capture d ecran 2019-01-16 a 14 51 36](https://user-images.githubusercontent.com/23639183/51254535-9a42aa00-19a1-11e9-98ce-6ced96aada53.png)

[2019-01-16 16:54] lisbejuin commented on #98
Thanks for reply. I have indeed a custom pod swift version.

[2019-01-16 16:54] #98 closed

[2019-04-09 17:54] Karambirov opened #102 "Previous item continues playing"
Hello!

I'm learning iOS by writing Podcasts app. And I have 2 issues:

1. Previous item continues playing when I tap on another episode from my list.
I have noticed that when I tap "Stop" from Control Center and then tap on another episode, everything's working correctly.

2. I need to show how much time is left, but I couldn't find how can I get a duration of current media.

I would really appre

[2019-04-09 18:41] JiceDessaint commented on #102
Hi @Karambirov

1/ You create a new PlayerService on each on your PlayerDetailsViewModel, and so, a new ModernAVPlayer Instance. That is why it never stop. You loose reference to your players.
You must use a single instance of player to make it work. Ideally, you will be able to inject a single instance when you add DI to your project.
For now, maybe you can go old school and add a `static instanc

[2019-04-09 19:03] Karambirov commented on #102
@JiceDessaint
Thanks for your help)
I'll try to use a singleton for PlayerService.
As for duration, I thought a media should have that property because AVPlayerItem does.

[2019-04-10 08:51] raphrel commented on #102
Hi @Karambirov,

Use the `playerContext(didItemDurationChange itemDuration: Double?)` delegate method to get media duration.
This method is triggered when ModernAVPlayer is in Loaded State = item is loaded in `AVPlayer`
I may get duration before, when AVPlayerItem is created but I choose this way.

[2019-04-10 18:32] Karambirov commented on #102
@raphrel

Could you explain how I can use this method? Should my service be the delegate of `PlayerContextDelegate` and implement all of its methods?

[2019-04-10 21:48] raphrel commented on #102
I sent you a mail, this is not the right pace to discuss about it.

[2019-04-10 21:48] #102 closed

[2019-04-15 12:05] vbklv opened #103 "Fatal error: Executing on background thread"
I keep getting this error when trying to observe the player's state: **player.rx.state**

`
Fatal error: Executing on background thread. Please use 'MainScheduler.instance.schedule' to schedule work on main thread.: file /path/ios-app/Pods/RxSwift/RxSwift/Schedulers/MainScheduler.swift, line 43
`

Code (as per example):

[code]

[2019-04-15 12:32] valerianb opened #104 "Example code creates retain cycle"
In the example, functions are passed to `map` or `subscribe(onNext:)`.
By referencing an instance method, you're actually making a strong reference to self and thus creating a retain cycle.

Example:
https://github.com/noreasonprojects/ModernAVPlayer/blob/2b3450e27c1fe8bc6bc571d48f466db0229a07fb/Example/ViewController.swift#L313

[2019-04-15 14:05] raphrel commented on #104
you're right, I'll fix this.

[2019-04-15 14:05] #104 closed

[2019-04-15 14:28] raphrel commented on #103
Hi @vbklv,

We use `[DelegateProxy](https://github.com/ReactiveX/RxSwift/blob/27b42ed7584a044d9ec6d7968c0d5f464abdcf93/RxCocoa/Common/DelegateProxy.swift#L18)` from RxCocoa library to create all corresponding observables.
You have explanation in the file about the main thread.

[2019-04-15 15:03] valerianb commented on #104
It's also the case on lines 249, 250, 262, 280 and 294 ;)

`createPositionRequest`, `formatPosition`, `setSliderPosition` and `setSeekPosition` (both methods don't set anything, the naming is a bit off) could be moved outside the class as they don't access `self` and could thus be simple private functions in that file (meaning outside of a class). That way you can keep the short current syntax.

F

[2019-04-15 19:24] vbklv commented on #103
Yes, managed to solve it by dispatching on main thread:

[code]

[2019-04-15 19:24] #103 closed

[2019-07-01 13:59] dlpigpen opened #105 "Can you please add next / previous command in the example"
I am quite confused about how to write the next and previous a song command. Could you please help?

[2019-07-01 15:33] raphrel commented on #105
Hi,

In the `ModernAVPlayerRemoteCommandFactory.swift` source file, you have an example of how implement next and prev tracks.
In the example, there is no library of sounds to play prev or next, so I don't use it.

[2019-07-11 04:17] dlpigpen opened #106 "Sometimes player.rx.itemDuration returns NaN"
if I tap on the next, previous button in the player screen or remote control center. Sometimes player.rx.itemDuration return a NaN value. Thus, we cannot change the position of the slider time running.

[code]

[code]

[2019-07-11 04:18] #105 closed

[2019-07-11 04:27] dlpigpen opened #107 "Player has been ended the song but the remote center still re-plays without ending."
The song has been ended because the time is over. However, the remote-center it still re-play again without stopping.

[2019-07-11 10:32] raphrel commented on #107
do you have any link with your code ?

[2019-07-11 10:41] raphrel commented on #106
NaN can be return, depends on the media. What kind of media do you use ? extension ?
Also, item duration is delivered in loaded state after duration had been fetch so it may take some time

https://github.com/noreasonprojects/ModernAVPlayer/blob/4f389093e8b74887c52b14d013fbf74686d8cc9d/Sources/Core/State/LoadedState.swift#L56

[2019-07-12 04:08] dlpigpen commented on #106
@raphrel They are local mp3 files.  Sometimes it works well, but sometimes it does not. You can replicate by changing the next and previous track frequently from the remote center.

[2019-07-12 04:10] dlpigpen commented on #107
The code is protected by our company so I cannot share fully your source. You can test easily by adding the next track when ending the first song.
I've tested both the example code from your repo and my code. they have the same result.

[2019-08-07 03:39] dungInte commented on #106
I have the same issue. There is any way to fix it?

[2019-08-18 16:30] iDevelopper opened #109 "Alarms"
Good job!

Feature request: Add alarms like Apple Clock App but with an url to play.

Regards,

[2019-08-18 16:33] iDevelopper opened #110 "CarPlay"
Nice job!

Could you provide an example for using CarPlay?

Thank You!

[2019-08-18 16:36] iDevelopper opened #111 "Equalizer"
Nice job, thanks!

Feature request: Add the possibility to set gains and visualize in a VU-Meter?

Regards,

[2019-09-16 02:54] vkcldhkd opened #112 "Latest release not compatible with RxCocoa 5.0+"

[2019-09-16 08:21] raphrel commented on #112
Hi,

didn't see any issues with RxSiwft/RxCocoa 5.0+
doing a new release a new release with this version this day.
stay tuned

[2019-09-16 09:40] raphrel commented on #109
Hi, not sure about this feature :)
But you can develop a plugin for it.

[2019-09-16 09:40] #109 closed

[2019-09-16 09:43] raphrel commented on #110
Great idea, I will try to in the next weeks.

[2019-09-16 09:43] #110 closed

[2019-09-16 09:43] raphrel commented on #111
Make a plugin for it :)

[2019-09-16 09:43] #111 closed

[2019-09-16 10:30] raphrel commented on #112
release 1.2.1 is out with RxSwift/RxCocoa 5.0+

[2019-09-16 10:30] #112 closed

[2019-11-01 01:33] #56 closed

[2019-11-01 10:06] raphrel opened #131 "Working on seek with stream media"
Seek on stream media (no duration) is not allow for now.
Working on it.

[2019-11-01 12:43] DSandfeld opened #132 "Pausing of playback when going into the native iOS camera app"
In iOS12 the playback stops when the user opens the camera app.

This happens due to AudioSession receiving a notification that`routeAudioChanged` acts on, the reason being `.unknown` which will change the state of the player to paused.

This is unintended behaviour. An interruption should only happen if the camera goes to video mode. We have tested this a fair bit and the issue is not present in

[2019-11-01 14:32] raphrel commented on #132
Hi,

thanks for this. Any pull request is welcome !
I may check this in the few days anyway..

[2019-11-03 07:59] mirasaujan commented on #93
Hey there,
Any updates? I found several drop in solutions for caching assets. They work with AVPlayerItems though. Could you add support to play/load PlayerMedia with playerItem?

[2019-11-03 09:59] raphrel commented on #93
Hi,

I know it is a main feature for this library but it's hard for me to manage all requirements..
Do you have any links to solutions you have found ?

Also, not interested to do a pull request ?

thanks

[2019-11-06 01:50] raphrel commented on #131
Release on 1.4.0
#136

[2019-11-06 01:50] #131 closed

[2019-11-06 04:08] mirasaujan commented on #93
https://andreygordeev.com/2018/03/31/cache-avplayeritem/
https://github.com/neekeetab/CachingPlayerItem
https://github.com/vitoziv/VIMediaCache

could you elaborate on the requirements?

[2019-11-06 07:23] satishVekariya commented on #93
https://github.com/muhku/FreeStreamer

On Wed, 6 Nov 2019 at 09:38, Miras Karazhigitov <notifications@github.com>
wrote:

[2019-11-06 20:06] raphrel commented on #93
ok so 2 things:

* Caching feature have to be done from an external service like CachingPlayerItem or other library..  It's not the responsability of the player.
* ModernAVPlayer to consume caching media have to accept AVPlayerItem when loading media.

So for now, **I'm going to think about the second point**. As this, you'll use your favorite caching service with the player. _Later, I may try to

[2019-11-08 10:23] mirasaujan commented on #93
You can try to restrict playerItem feed to PlayerMedia, only to those whose status == .readyToPlay

[2019-11-11 07:52] nothing2say-dev opened #139 "Playback speed"
Is it available for adjusting playback speed?

Please add support playback speed for both local and remote files.
This framework will be perfect if you have this feature. :))
Thank you.

[2019-11-15 05:36] nothing2say-dev commented on #139
Hi,

I found an easy way to adjust playback speed for temporary use.
In the example, just try
   player.player.rate = {speed rate}

It works on both remote and local file.

Anyway, if it's fully functional in the framework would be wonderful. :)

Thanks.

[2019-11-15 12:39] raphrel commented on #139
Hi,

Thanks but I think there are many others things to check.
I'll try to watch this in the few days.

Not interesting about doing a pull request ?

[2019-11-17 03:05] Jarred-Sumner opened #140 "Can't load videos from camera roll"
When fetching videos from the camera roll, we call [`PHImageManager#requestAVAsset`](https://developer.apple.com/documentation/photokit/phimagemanager/1616935-requestavasset).

But, `ModernAVPlayer` doesn't let us set an `AVURLAsset` object ourselves, so there doesn't seem to be a way of loading something from the camera roll without going through the underlying `AVPLayer`.

in `LoadingMediaState.

[2019-11-17 04:50] raphrel commented on #140
Hi Jarred,

Right now there is no public load method which accept `AVAsset` but you can definitely get the asset url and create a `ModernAVPlayerMedia` with it. It's not the best solution, but it should work.

I have to take some times to accept AVPlayerItem / AVAsset from the load public method..

[2019-11-17 05:23] Jarred-Sumner commented on #140
Oh yeah, this works fine – I didn't realize it was okay to just use the URL returned from `PHImageManager`. I'm running into a different issue though, which I will create one for now.

[2019-11-17 05:23] #140 closed, assigned to nobody

[2020-01-26 23:37] zackperdue commented on #93
What's the status on this? Is anybody looking into this yet?

[2020-01-27 17:16] raphrel commented on #93
on my way, should be done this week !
The lib will accept AVPlayerItem and url format.

[2020-01-27 17:19] zackperdue commented on #93
Awesome! Let me know if there’s anything to do to help.

On Jan 27, 2020, at 12:16 PM, ankierman <notifications@github.com> wrote:

on my way, should be done this week !
The lib will accept AVPlayerItem and url format.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub <https://github.com/noreasonprojects/ModernAVPlayer/issues/93?email_source=notificat

[2020-02-06 07:55] zackperdue commented on #93
Hi @raphrel any updates on this improvement? I'm looking to upgrade :)

If you need help with anything please let me know and I can pitch it.

Go ahead and upload your branch or whatever.

[2020-02-07 10:33] raphrel commented on #93
Hi,
sorry kind of busy these past days. I try to finish this week end !

[2020-02-08 17:36] raphrel commented on #93
new release #151 is out !
create a media from AVPlayerItem is available 😅

[2020-02-11 00:19] #93 closed

[2020-02-24 00:34] mdfalcon104 opened #152 "The assetOptions propertry in ModernAVPlayerMedia should be a var varibale"
In the development, I realize that this variable can be changed sometimes, for example we want to change the remoteURL, data image or other value. However, because this variable is a let variable, we are not able to do that. I suggest that it should be a var variable and update a new function like this.

// ModernAVPlayerMedia.swift

` public var assetOptions: [String: Any]?`

[code]

Could you pl

[2020-02-24 00:50] raphrel commented on #152
Hi,

`assetOptions` is only used in the AVURLAsset initializer: https://github.com/noreasonprojects/ModernAVPlayer/blob/4140f58113d7c5abfdd01010f6fbf0b80a204c82/Sources/Core/Services/AVPlayerItemInitService.swift#L42

and from what I could see, assetOptions data can be used at least with these keys:
- `AVURLAssetPreferPreciseDurationAndTimingKey`
- `AVURLAssetReferenceRestrictionsKey`
and certainl

[2020-02-28 19:53] #152 closed, assigned to raphrel

[2020-03-11 08:26] rafattouqir opened #155 "Can you share/implement queue concept(including next/previous) in the example/by sample-code"
I'm trying to implement next/previous media, yet, was unable to do so using `ModernAVPlayer` library.

Code example:
`func modernAVPlayer(_ player: ModernAVPlayer, didItemPlayToEndTime endTime: Double) {
        self.next()
    }
func next() {
        self.player.load(media: nextMediaItem, autostart: true)
    }
`
Crash:
 Is related to `durationTimer`
Scenerio:
If I autoplay next media before dele

[2020-03-11 08:35] raphrel commented on #155
Hi @rafattouqir,

I may appreciate you make a pull request with your example using the `Simple Audio` template.
Is it possible from you side ?

Thanks

[2020-03-27 02:37] StickManMobile opened #156 "Possible to implement in SwiftUI?"
Is it possible to show an example of the player implemented in SwiftUI?

[2020-03-27 08:22] raphrel commented on #156
Swift UI example should be nice to implement for sure, as soon as I have some free time!

You don't want to try from your side and do a pull request ?

[2020-04-20 14:32] mdfalcon104 opened #157 "BackgroundTask was created over 30 seconds ago"
```BackgroundTask] Background Task 11 ("Called by ModernAVPlayer, from $s14ModernAVPlayer17LoadingMediaStateC14contextUpdatedyyF"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this.```

This is message log i got from Xcode. I suppose tha

[2020-04-20 14:57] raphrel commented on #157
Hi @dlpigpen,

Each time a startBackground task is created, the expiration handler is set to end the task as specified here: https://developer.apple.com/documentation/uikit/uiapplication/1623051-beginbackgroundtask

from your log, we talk about the function `startBgTask()` in LoadingMediaState.swift
endBackgroundTask should be called

so I try to see when it could not be called:
- you are loading

[2020-04-20 15:04] mdfalcon104 commented on #157
@raphrel  thanks so much for your fast response.

In my case a song has been in the loading progress, because some of reason such as the network connection is slow, the source provider is not responding.

The log message of the background task has been fired then, my solution is a timer counting. In this case, the media has not switched to any state. After thirty seconds, we can consider force to

[2020-04-20 15:27] raphrel commented on #157
hey,

as I mentioned, the expiration handler of startBackgroundTask is set to end the background task when expiration is going to happen. so no timer is needed here.

in my opinion, the only explanation is you moved to the loaded state and never play (this is where I stop the background task..)

[2020-05-18 08:59] barisyazganc commented on #106
Hi, I have the same issue once the duration is NaN it always NaN, is there any temp solution or fix on the way?

Note: this only happens only iOS versions below iOS13.. so %97 of crashes comes from iOS12 and %3 from iOS11

[2020-05-18 17:19] raphrel commented on #106
Hi @barisyazganc,

I would love to help but I need your context (media) to investigate.

otherwise:
itemDuration is set once when item is loaded, only: `LoadedState` line `56`
it comes from avplayeritem -> duration ->  seconds.
can you check in this location about duration return ?

I didn't do any computation of anything about this duration. just ask about the avplayer item just loaded his durati

[2020-05-20 14:08] barisyazganc commented on #106
Hi again,

func modernAVPlayer(_ player: ModernAVPlayer, didItemDurationChange itemDuration: Double?)

I was using this method but when used it gives NaN sometimes.. when i remove this func and trt do get the duration in
func modernAVPlayer(_ player: ModernAVPlayer, didStateChange state: ModernAVPlayer.State)
check for state == .loaded
duration is always true..

[2020-05-21 18:58] barisyazganc opened #158 "ModernAVPlayerNowPlayingService.overrideInfoCenter Crashes"
Hi,
some of our users experiencing fatal crash in our app

Crash is related to
ModernAVPlayer
<compiler-generated> - Line 4362331420
ModernAVPlayerNowPlayingService.overrideInfoCenter(for:value:)

and
NowPlayingService.swift - Line 92
closure #1 in ModernAVPlayerNowPlayingService.updateRemoteImage(url:) + 92

<compiler-generated> - Line 4362332792
thunk for @escaping @callee_guaranteed (@guarantee

[2020-05-21 21:38] raphrel commented on #158
Hi @barisyazganc,

I don't think you missed something.
`overrideInfoCenter` is called in a closure and should maybe use main thread instead of the closure thread. I don't have any other explication right now.

I created a new branch with a fix:
https://github.com/noreasonprojects/ModernAVPlayer/tree/fix/metedata-remote-image-crash

can you use this branch in your podfile / spm to try and let me kn

[2020-05-21 21:57] raphrel commented on #132
I don't have anymore iOS 12 device, so I can't check anything about this.
If you have time to check and prepare a PR, should be nice.

thanks

[2020-05-22 08:29] barisyazganc commented on #158
Thanks, will try this branch but not sure how to reproduce or check if crash has gone.. because i cant reproduce it in real device or simulator :(

[2020-05-22 09:16] raphrel commented on #158
Understood, anyway I think those changes can't be bad.
should be in the next release.

Let me know about your situation.

[2020-05-22 09:35] raphrel commented on #106
ok, I am on it to make a demo queue example and check about this.

[2020-05-22 13:25] barisyazganc commented on #158
Ok, thanks again :) will try and let you know the result...

[2020-05-22 23:48] raphrel commented on #106
@dlpigpen @barisyazganc @dungInte

so I made a new branch:
https://github.com/noreasonprojects/ModernAVPlayer/tree/demo/simple-queue-example

Audio queue + remote command.
didn't see any bugs in item duration with my samples. (iOS 13.4.1 - iPhone XS)

can you try with yours ?

[2020-05-23 21:21] raphrel commented on #155
Hi @rafattouqir,

I made a branch with simple audio queue here and option to play next track automatically:
https://github.com/noreasonprojects/ModernAVPlayer/tree/demo/simple-queue-example

you may had thread issues. I had to load the next media from the main thread.

reopen the issue if needed !
bye

[2020-05-23 21:21] #155 closed, assigned to raphrel

[2020-05-29 07:20] barisyazganc commented on #158
Hi,
I released an upgrade to our app including this change.. and i'm happy to say that for now there is no crash reported related to this issue so far!.. i will let you know again if a crash rises according to that issue..  i think this bug is fixed and ready to be released on next version :)

[2020-05-29 15:06] raphrel commented on #158
#161 merged and ready to be part of the next release.

thanks again @barisyazganc  !

[2020-05-29 15:06] #158 closed, assigned to nobody

[2020-05-30 09:16] raphrel commented on #106
New release with audio queue example #163, no bugs detected about nil duration.

Please create a branch to reproduce bugs you declared.
Thanks

[2020-05-30 09:32] raphrel commented on #107
Hi @dlpigpen,

I made a new release with audio queue example: @ #163

Try to understand your problem but in my case:

* play next automatic disable
if a media is over, player stop. remote center is ok, timing is back to 0.
* play next automatic enable
if a media is over, player read again from begining. remote center is ok, timing is back to 0 then run..

**Environment hardware iPhone XS iOS 13.5*

[2020-05-30 16:24] AminMahpour opened #164 "ModernAVPlayer and SwiftUI"
Hi Raphrel,

Thanks for developing such an easy to use yet powerful package for Swift.

I am using your package to prototype an ios app using SwiftUI. Everything is working fine except the "duration" of the track. I can't find a way to retrieve this information from the player.

Any help is appreciated.
Thanks,
Amin

[2020-05-30 17:35] AminMahpour commented on #164
I got it working but it might not be the most elegant way to do it:

[code]

[2020-05-30 21:16] raphrel commented on #164
check out Rx examples in Demo App, you'll find another way to get it.

otherwise this syntax may be better for you ? (don't forget the onNext parameter)
[code]
also, don't forget to dispose.

[2020-05-30 21:16] #164 closed, assigned to nobody

[2020-06-01 00:48] vkcldhkd opened #165 "How to Remove NowPlayingInfo?"
Hi. Thanks for making a good library.

I know that NowPlayingInfo is updated automatically when I update ModernAVPlayerMediaMetadata, but I don't know how to remove NowPlayingInfo.

How to Remove NowPlayingInfo?

[2020-06-01 06:40] raphrel commented on #165
hi @vkcldhkd,

What do you expect to remove in now playing info service ?

metadata are provided when created a media or update metadata manually

In this library, metadata concerns about title, album, artwork... you can check `PlayerMediaMetadata` protocol but **duration and isLive properties are set differently**.

I may change
`func updateMetadata(_ metadata: PlayerMediaMetadata)` to `func upda

[2020-06-01 07:28] raphrel commented on #165
you can try with this [branch](https://github.com/noreasonprojects/ModernAVPlayer/tree/feature/accept/optional-metadata)

[2020-06-01 08:03] vkcldhkd commented on #165
I want remove commandCenter NowPlayingInfo!

[2020-06-01 10:06] raphrel commented on #165
so use anywhere in your code
`MPNowPlayingInfoCenter.default().nowPlayingInfo = nil`

[2020-06-01 16:49] #165 closed, assigned to nobody

[2020-06-02 00:31] vkcldhkd commented on #165
Thank you for your efforts :)

[2020-06-03 18:50] barisyazganc opened #169 "Crash on PlayingState.swift - Line 193 PlayingState.routeAudioChanged(reason:) + 193"
Hi,

I came across a strange crash on Firebase...

Fatal Exception: NSInvalidArgumentException
An instance of AVPlayer cannot remove a time observer that was added by a different instance of AVPlayer.
PlayingState.routeAudioChanged(reason:)

Trace:

-[AVPlayer _removeAllLayers]

PlayingState.swift - Line 193
PlayingState.routeAudioChanged(reason:) + 193

PlayingState.swift - Line 65
partial apply

[2020-06-04 08:05] raphrel commented on #169
hi @barisyazganc ,

I did a temporary fix branch.
This fix is not enough, I also need to prevent multiple callback call from playing state.

Before using flag pattern, I want to be sure there is a better solution.. I'm thinking about it

[2020-06-10 08:45] barisyazganc opened #171 "signal SIGABRT on player.updateMetadata"
Hİ,

I just pod updated to 1.6.0 version but my app crashes on latest version on this line.. is there any code changes to that section? am i using it wrong in the latest version?

        let playerMetaData = ModernAVPlayerMediaMetadata(title: title,
                                                      albumTitle: albumTitle,
                                                      artist: artist,

[2020-06-10 23:31] raphrel commented on #171
this code is fine. may I have more context ? code, iPhone used, iOS version logtrace ... ?
thanks

[2020-06-11 09:36] barisyazganc commented on #171
Nevermind it works now :) after pod update i had to uninstall app from device and do a clean build. now it works :)

[2020-06-11 09:36] #171 closed, assigned to nobody

[2020-07-07 05:01] hydyy opened #172 "When there are multiple instances, itemPlayToEndTime will interfere with each other"
When there are multiple instances, itemPlayToEndTime will interfere with each other

[2020-07-23 03:53] tauypaldiyev opened #173 "prevTrackCommand, nextTrackCommand are not available"
prevTrackCommand, nextTrackCommand are not available even if I added them into remoteCommands. But skipBackwardCommand(), skipForwardCommand() commands work well. I want prev and next commands work, please help

[2020-07-23 12:21] raphrel commented on #173
Hi,

there is a simple audio queue iOS example available in the sources with prev and next remote command
did you check it out ?

[2020-07-23 14:42] tauypaldiyev commented on #173
![photo5247082827818839747](https://user-images.githubusercontent.com/31894257/88299903-b48ede00-cd24-11ea-88e1-32003be2d70d.jpg)
![Снимок экрана 2020-07-23 в 20 38 51](https://user-images.githubusercontent.com/31894257/88299931-bc4e8280-cd24-11ea-8be2-f4468e236176.png)

Yes, I checked. In photo it is shown how did I implemented needed commands, in my case prev/next commands. But on the player the

[2020-08-01 09:29] barisyazganc opened #174 "Paused audio not resuming after phone call"
Hi,

When a call recieved, or switched to camera app to take video, after interruption endded audio is not started.. i'm testing on iOS 13.6..

IS there a way to override interruption callbacks?. is The code below responsible for not resuming the audio playback after interruption?

`    /*
     Do not set any call back on interruption ended when user play from another app
    */
    private func p

[2020-08-03 06:11] barisyazganc commented on #174
Update: audio resumes if app is on foreground, but if the app is in background it doesnt resume

[2020-08-04 10:23] barisyazganc commented on #174
Hi A little update again;

If i changed the line 56 in AudioSessionService.swift
`try audioSession.setCategory(category, mode: .default, options: [])`

with
`try audioSession.setCategory(category, mode: .default, options: [.mixWithOthers])`

it will resume playback after an interruption while app is in background..

is it possible to make options optional like setting options in config?

[2020-08-04 13:54] raphrel commented on #174
Hi @barisyazganc,

thanks for this ! I'm gonna check this week and make modification

[2020-08-04 15:21] barisyazganc commented on #174
Hi @raphrel

Thanks, by the way i didnt have much time to debug more but it seems that .mixWithOthers solves the problem but can introduces more bugs im not sure

[2020-08-09 13:12] #169 closed, assigned to nobody

[2020-08-09 13:23] raphrel commented on #173
Check ModernAVPlayerRemoteCommandFactory.swift file, line `146` and `157`

`nextTrackCommand` and `prevTrackCommand` are not enable by default. my bad, I have to change it.

[2020-08-09 14:20] raphrel commented on #173
It make no sense I provide you these remote command by default. You have to provide your own logic in handler.
Check the associated pull request and use Simple Audio Queue example as reference.

[2020-08-09 14:20] #173 closed, assigned to raphrel

[2020-08-11 08:35] barisyazganc commented on #169
Hi,

can you update the pod version so we can get it by pod update :)

[2020-08-11 19:46] barisyazganc opened #176 "Possible support for tvOS"
Hi,

is it possible to support tvOS without any development? i want to use modernavplayer with my tvOS target but pod install says its not compatible with tvOS

[2020-08-11 22:01] raphrel commented on #176
Hi,

I think I use some framework / methods not available for tvOS. It's been a long time I didn't check...
don't think it's a lot of work but need some development.
it's holiday times, and I have not so much time these days to make any adjustment/ I'm sorry but if you want to make a pull request, you're welcome !

[2020-08-11 22:03] raphrel commented on #174
.mixWithOthers is not the good solution in my mind.
I have to understand deeper why resume process is not called...
let's get in touch about this

[2020-08-11 22:03] #106 closed

[2020-08-11 22:06] raphrel commented on #169
I'll make a new version at the end of August 2020.
you can still refer to develop branch from Podfile to have last adjustment.
thanks

[2020-08-12 18:05] barisyazganc commented on #174
Hi,

i'm on your side but some posts on stackoverflow strongly suggests .mixWithOthers in order to resume playback when app is in background during interruption.. i will search more on this and also audio did not resume when switching between other apps (like playing video on facebook app) but it seems spotify handles them correctly, i'm not sure

the post: https://stackoverflow.com/questions/3880

[2020-08-12 19:40] barisyazganc commented on #176
Hi,

thanks, i will check if can make it compatible with tvOS... It will be great to have this wonderfull library available on tvOS! :) keep in touch...

[2020-10-13 10:53] barisyazganc commented on #169
Hi,

Could you merge this from develop to master? because when SwiftPM used, choosing branch develop fails to add package because of Rx issue in SPM.. but it is fine when using version rules

[2020-10-13 21:22] raphrel commented on #169
release update. sorry but it's hard to have time in this project...

[2020-10-13 21:52] raphrel commented on #176
hi @barisyazganc, did you try ??

[2020-10-26 04:22] tauypaldiyev commented on #157
Good day @raphrel ! Have you solved this issue? If yes, what do I have to do? Should I add 'content.beginBackgroundTask' into LoadedState?
My player just stops playing after 30 seconds

[2020-11-18 12:47] #176 closed, assigned to nobody

[2020-11-19 22:05] #174 closed, assigned to nobody

[2020-11-21 10:45] yaroslavlvov opened #187 "audio/subtitles"
I want to simplify audiotracks/subtitles selection

![image](https://user-images.githubusercontent.com/19675861/99875132-f443d480-2bf5-11eb-9f22-8db4ffc8e9c0.jpeg)

- Want to provide something like this

Subtitles
```var currentSelectedSubtitle: ModernSubtitle { get }```
```getAvailableSubtitles() -> [ModernSubtitle]```
```selectSubtitle(ModernSubtitle)```

AudioTacks
```var currentSelectedAudioTr

[2020-11-21 13:05] raphrel commented on #187
As I think you did, I read apple article:
https://developer.apple.com/documentation/avfoundation/media_playback_and_selection/selecting_subtitles_and_alternative_audio_tracks

I think we could work with ModernAVPlayer Plugin System (```PlayerPlugin```):
* Media is loaded, plugin system call: `func didLoad(media: PlayerMedia, duration: Double?)`
* I can add a `AVPlayerItem` (from custom protocol) p

[2020-11-21 16:00] yaroslavlvov commented on #187
As I understand I can cast PlayerMedia to PlayerMediaItem in this method, right? Not quite get why there are two separate, however, plugin system will work for me, I was just thinking that this feature could be useful for others potentially and worth implementing internally

[2020-11-22 14:18] raphrel commented on #187
ok, I just created a new [branch](https://github.com/noreasonprojects/ModernAVPlayer/tree/temp/avs-plugin-requirements) ->  you can now use it to access AVPlayerItem and AVAsset when item is loaded and call all methods suggested by [Apple](https://developer.apple.com/documentation/avfoundation/media_playback_and_selection/selecting_subtitles_and_alternative_audio_tracks)

I suggest you create a ne

[2020-11-28 12:47] pimms opened #188 "MPRemoteCommandCenter/MPNowPlayingInfoCenter not working with default configuration"
Thanks for a great framework! It has saved me for a lot of hassle in dealing with `AVPlayer` 👍👍

When using `ModernAVPlayerConfiguration`, the `MPRemoteCommandCenter` seems to never show for the configured `ModernAVPlayer`. One have to create a custom implementation of `PlayerConfiguration` and override the `audioSessionCategoryOptions` to get it to appear.

This was broken in 1.7.3, and is not an

[2020-11-29 09:26] raphrel commented on #188
Hi @pimms,

thanks for your message !

I have a dilemma:
* This player was created to be resilient about network issue
* From 1.5.2 this player is not resilient anymore if mixWithOther options is not set (AVPlayer and co... api changed 🤯)
* but I really understand mixWithOther is not a good options for primary audio playback app situation.

You're right about `MPRemoteCommandCenter`, I think I hav

[2020-11-29 09:28] raphrel commented on #187
HI @yaroslavlvov ,

can you share a url of a media with subtitle or alternative audio tracks ?

I may try to help if I have some time

[2020-11-29 09:38] yaroslavlvov commented on #187
@raphrel the one that you used for demo should have both

[2020-11-29 13:24] pimms commented on #188
How does this affect network resiliency? As a user, I'd expect the remote command center to appear "out of the box" — it took me some time to figure out what was going wrong.

[2020-11-30 00:10] raphrel commented on #188
Network resiliency not working (from 1.5.2 version) if avaudio session options not set to `.mixWithOthers`...

I completely understand about command center. I will revert changes. sorry for incovenience.

[2020-11-30 16:14] pimms commented on #188
No worries at all! I don't think a reversal is necessarily required, but an explanatory comment in the docs could be nice 🙂

[2020-12-23 12:35] yaroslavlvov opened #189 "Precise seek missing"
Sometimes there are cases where you need precise seeking which is called like this

[code]

![Screenshot 2020-12-23 at 14 30 44](https://user-images.githubusercontent.com/19675861/102996275-7b54d700-452b-11eb-97da-33ae4a15b5bb.jpg)

currently seeking is not precise which is fine in most cases, however it would be nice to have precise seek

proposed solution extend current seek methods with another

[2020-12-28 13:51] yaroslavlvov opened #190 "Add seekableTimeRanages didChange to ModernAVPlayerDelegate"
Would be nice to have a callback that indicates seekableTimeRanages changed for the current item, would be useful to update min and max for seek bar accordingly, instead of relying on asset duration. Super useful for lives which have sliding DVR window and I need to display UI accordingly

Proposed solution: extend current delegate api with func
[code]

[2021-01-04 01:55] yunustek commented on #188
How will this be resolved?

[2021-01-07 20:28] raphrel commented on #189
sure, I'm always open for PR !
thanks

[2021-01-07 21:57] raphrel commented on #189
what do you think of this instead:

[code]

[2021-01-07 22:02] raphrel commented on #188
Don't know yet, I had not so much time to work on it.. but any help is appreciated
In the meantime, I revert default avaudiosession category (on develop branch) to get back with working remote controller by default

[2021-01-07 23:03] raphrel commented on #172
probably right, didn't expect usage of running simultaneous `ModernAVPlayer`
if you have time to make a PR, should be nice !

[2021-01-08 02:49] yaroslavlvov commented on #189
If you want to go with CMTime parameters in api, I would rather replicate apple's api with toleranceBefore and toleranceAfter, but to simplify api and abstract more from AVFoundation isAccurate parameters looks better to me being clear to understand(can be explained in docs in addition)

[2021-03-24 06:13] AfshinHonari opened #195 "Infinite buffering in live stream"
Please add preferredForwardBufferDuration or other option to set buffer limiting size; when user "PAUSE" a live stream or a large video  buffering is not stopped and cause battery consuming or network data usage issue.
also please add an option for getting buffered duration

[2021-05-18 05:18] vkcldhkd opened #196 "ModernAVPlayerMedia preload and caching"
Thank you for creating a good library.
When playing through URL, how do I preload so that buffering does not take place?
Also, are there any plans to support media caching?

[2021-06-11 00:42] vkcldhkd commented on #196
implemented it using the link below.
https://github.com/neekeetab/CachingPlayerItem

[2021-06-11 00:47] #196 closed, assigned to nobody

[2021-06-15 15:49] yaroslavlvov opened #197 "Reloading playerItem in case of playback stall due to network issue causing limitations for consumers"
Reloading Item internally is causing limitations for consumers:
    1. If playback url has a lifetime I need to get new url and reload with that one
    2. Some SDKs are forcing to load stream in a custom way (like Google IMA sdk for ads, etc.)

Proposed solution:
1. Give some timeout for player to resolve stall and continue playback with same player item.
2. Instead of internally reload PlayerIte

[2021-06-15 16:24] yaroslavlvov opened #198 "allow to set this player.automaticallyWaitsToMinimizeStalling in configuration"
currently ```player.automaticallyWaitsToMinimizeStalling``` is set to false in init state, would be nice to be able to change this with configuration

[2021-09-01 08:40] barisyazganc opened #202 "Audio stops and won't resume after phone call"
Hi,

There is a strange behavior,  audio pauses and continues after recieving phone call, its fine and expected behavior but when you try to make a call while audio is playing, audio stops but won't resume playing after phone call ends....

[2021-09-02 23:00] raphrel commented on #202
sorry but I don't work on this project at this time.
but can you give information about your iOS version and hardware ?
maybe someone can help..

[2021-09-03 07:50] barisyazganc commented on #202
Hi,

Its independent from the OS or the hardware but i tested with iPhone 12 Pro Max with iOS 14.7.1. and confirm that its present in the latest iOS version....

[2021-09-21 09:21] davidgoncalves commented on #157
Hello @raphrel,

I started to implement your ModernAVPlayer and everything is going well except this problem.
I'm getting this problem too often. I mean at least one time per session.

Does someone fixed this problem?
What do you suggest?

[2021-11-22 16:48] mikolajadamowicz commented on #157
I've created a PR that should fix that #203,  @raphrel can you take a look at it?

[2021-12-06 10:03] amberkatyal opened #204 "Fairplay and DRM support"

[2021-12-28 07:28] #204 closed, assigned to nobody

[2021-12-28 07:29] amberkatyal commented on #204
Player load issue on seek.

[2021-12-29 06:58] AL-bruce opened #205 "i got two crash was positioned in ModernAVPlayerRemoteCommandFactory file"
1、ModernAVPlayerRemoteCommandFactoryV04playE0AA0bcdE0VyFSo08MPRemoteE13HandlerStatusVSo0hE5EventCcfU0_
2、ModernAVPlayerRemoteCommandFactoryV015togglePlayPauseE0AA0bcdE0VyFSo08MPRemoteE13HandlerStatusVSo0jE5EventCcfU0_

[2022-04-24 06:30] ParagTwinbit opened #207 "Cache Audio for remote URL"
Cache Audio for remote URL

[2022-05-27 17:49] barisyazganc commented on #157
hi,

i'm facing the same issue.. @mikolajadamowicz  does your PR fix this issue? is it possible to include this fix in the next release?

[2022-06-13 06:50] barisyazganc opened #210 "audio stops after 15-20 seconds"
Hi,

i have a strange bug, sometimes on some devices audio stops playing right after 15-20 seconds, and it only happens on real device, when i connect my device to xcode, no errors, no warnings and no stops... it started with a specific version of modernavplayer but i dont remember which one...

any help would be great

[2022-06-15 11:44] barisyazganc commented on #210
nevermind, it seems that the problem is in the HLS stream so its not related to modernav....

[2022-06-15 11:44] #210 closed, assigned to nobody

[2022-09-16 10:58] snowtema opened #212 "How can I set HTTP headers for URL of remote media?"
It is required because I use authentication and JWT to secure my content.